<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WUZZUF</title>
  <link rel="stylesheet" href="index.css" />
  <style>
    :root {
      --main-color: #1076fc;
      --secondary-gradient-color: #0000007a;
    }
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      font-family: Arial, Helvetica, sans-serif;
      background: #1076fc;
      min-height: 100vh;
    }
    ul {
      list-style: none;
    }
    a {
      text-decoration: none;
    }
    .container {
      padding-inline: 10px;
      margin-inline: auto;
    }
    /* Start Header  */
    header {
      padding-block: 15px;
      background: #f1f1f1;
      box-shadow: 0 1px 10px rgba(13, 19, 38, 0.5);
      position: sticky;
      top: 0;
      z-index: 10000;
    }
    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    header .mobile-menu-btn {
      background-color: transparent;
      border: none;
      width: 25px;
      flex-wrap: wrap;
      gap: 5px;
      cursor: pointer;
      display: none;
    }
    @media (max-width: 567px) {
      header .mobile-menu-btn {
        display: flex;
        position: relative;
        z-index: 10000;
      }
      header .mobile-menu-btn.active span {
        background-color: red;
      }
    }
    
    header .mobile-menu-btn span {
      width: 100%;
      height: 3px;
      background-color: #333;
    }
    .logo-wrapper .logo-link {
      font-size: 30px;
      font-weight: bold;
      color: var(--main-color);
    }
    @media (max-width: 567px) {
      header nav {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.473);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s opacity;
      }
      header nav.show {
        opacity: 1;
        pointer-events: auto;
      }
    }
    .navigation-list {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    @media (max-width: 567px) {
      .navigation-list {
        flex-direction: column;
        width: 100%;
        border-radius: 6px;
        max-width: 300px;
        background-color: white;
        padding: 10px;
      }
    }
    header .navigation-link,
    .navigation-btn {
      display: block;
      padding: 5px 10px;
      font-weight: bold;
      font-size: 16px;
      position: relative;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      color: black;
      background-color: transparent;
      transition: 0.3s color;
    }
    header .navigation-link::before,
    .navigation-btn::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: var(--main-color);
      transition: 0.3s width;
    }
    header .navigation-link:hover,
    header .navigation-btn:hover {
      color: var(--main-color);
    }
    header .navigation-link:hover::before,
    .navigation-btn:hover::before {
      width: 100%;
    }
    /* End Header  */
    /* Start MainSection */
    main {
      min-height: calc(100vh - 66px);
      display: flex;
      position: relative;
      background-image: linear-gradient(
        to bottom,
        var(--main-color) 50%,
        var(--secondary-gradient-color)
      );
    }
    .login-form-wrapper,
    .recommendation-form-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px;
      background: white;
      border-radius: 5px;
    }
    .login-form-wrapper {
      width: 400px;
    }
    @media (max-width: 567px) {
      .login-form-wrapper {
        width: 90%;
      }
    }
    .recommendation-form-wrapper {
      width: 530px;
    }
    @media (max-width: 567px) {
      .recommendation-form-wrapper {
        width: 90%;
      }
    }
    .close-form-btn {
      position: absolute;
      right: -10px;
      top: -10px;
      color: var(--main-color);
      transition: 0.3s color;
      font-weight: bold;
      padding: 5px;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: white;
      border-radius: 50%;
      box-shadow: 0px 0 6px 0px var(--main-color);
    }
    .close-form-btn:hover {
      color: indianred;
      box-shadow: 0px 0 6px 0px indianred;
    }
    .form-heading-wrapper {
      margin-bottom: 10px;
      text-align: center;
    }
    .form-label {
      font-size: 30px;
      margin-bottom: 5px;
    }
    .form-heading-wrapper .form-desc {
      font-size: 14px;
      color: gray;
    }
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }
    input:not([type='checkbox']) {
      caret-color: var(--main-color);
      width: 100%;
      padding: 15px;
      border: none;
      background: #f1f1f1;
      border-radius: 4px;
    }
    input:focus {
      background-color: #ddd;
      outline: none;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    .recommendation-form .career-level-select {
      width: 100%;
      padding: 5px;
      font-size: 16px;
      border: 1px solid rgba(128, 128, 128, 0.71);
      border-radius: 4px;
    }
    .recommendation-form .agreement-text {
      text-align: center;
      color: #333;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .form-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    @media (max-width: 567px) {
      .recommendation-form .form-actions {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
      }
    }
    .submit-form-btn,
    .cancel-form-btn {
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      font-weight: bold;
      font-size: 15px;
      transition: 0.3s background-color, 0.3s color;
    }
    .cancel-form-btn {
      background-color: indianred;
      color: #fff;
    }
    .cancel-form-btn:hover {
      background-color: rgba(205, 92, 92, 0.87);
    }
    .submit-form-btn {
      background-color: var(--main-color);
      color: #fff;
    }
    .submit-form-btn:hover {
      background-color: #1076fcdc;
    }
    /* End MainSection */
    /* Start Login Form  */
    .login-form-wrapper .form-label {
      text-align: center;
    }
    .login-form-wrapper .remember-check-wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .remember-check-wrapper label {
      margin: 0;
      font-weight: normal;
    }
    /* End Login Form  */
    
    
  </style
</head>

<body>
  <header>
    <div class="container">
      <div class="header-content">
        <div class="logo-wrapper">
          <a class="logo-link" href="#">WUZZUF</a>
        </div>
        <button class="mobile-menu-btn" id="mobileMenuBtn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <nav id="headerNav">
          <ul class="navigation-list">
            <li class="navigation-item">
              <!-- TODO: what to show ? -->
              <a href="#" class="navigation-link">Home</a>
            </li>
            <li class="navigation-item">
              <button class="navigation-btn" data-formId="recommendationForm">Form</button>
            </li>
            <li class="navigation-item">
              <button class="navigation-btn" data-formId="loginForm">
                Login</button>
            </li>
            <li class="navigation-item">
              <a href="#" class="navigation-link">
                About us
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main class="main-content-wrapper">
    <div id="recommendationForm" class="recommendation-form-wrapper" style="display: none;">
      <span class="close-form-btn close-btn" title="Close form" id="closeRecommendationFormBtn">X</span>
      <div class="form-heading-wrapper">
        <h1 class="form-label">Recommendation Form</h1>
        <p class="form-desc">Please fill in this form to create a Recommendation</p>
      </div>
      <form class="recommendation-form" id="recommendationForm" action="{{ url_for('search') }}" method="post"
        onsubmit="return checkAndRedirect()">
        <div class="form-group">
          <label for="Job-Title">Job Title</label>
          <input type="text" placeholder="Enter Job Title" name="Job-Title" required>
        </div>
        <div class="form-group">
          <label for="Skills">Skills</label>
          <input type="text" placeholder="Enter Skills with , between skills" name="Skills" required>
        </div>
        <div class="form-group">
          <label for="pref-job">Prefer job title</label>
          <input type="text" placeholder="Enter job title with , between titles" name="pref-job" required>
        </div>
        <div class="form-group">
          <label for="Industry">Industry</label>
          <input type="text" placeholder="Enter Industry title with , between titles" name="Industry" required>
        </div>
        <div class="form-group career-level-select-wrapper">
          <label for="Career-level">Career level</label>
          <select name="Career-level" id="career-level" class="career-level-select">
            <option value="not-spec">Not specified</option>
            <option value="Student">Student</option>
            <option value="ent-level">Entry level</option>
            <option value="Experienced">Experienced(Non-manager)</option>
            <option value="Manager">Manager</option>
            <option value="sen-mange">Senior Mangement</option>
          </select>
        </div>
        <p class="agreement-text">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
            Privacy</a>.</p>
        <div class="form-actions">
          <button type="button" class="cancel-form-btn close-btn" id="cancelFormBtn">Cancel</button>
          <button type="submit" class="submit-form-btn">Submit</button>
        </div>
      </form>
    </div>
    <div id="loginForm" class="login-form-wrapper" style="display: none;">
      <span class="close-form-btn close-btn" title="Close Modal2">&times;</span>
      <h1 class="form-label">Login</h1>
      <form class="login-form" id="loginForm" action="/action_page.php">
        <div class="form-group">
          <label for="universtyEmail">Universty Email</label>
          <input type="text" id="universtyEmail" placeholder="Enter Email" name="email" required>
        </div>

        <div class="form-group">
          <label for="psw">Password</label>
          <input type="password" id="psw" placeholder="Enter Password" name="psw" required>
        </div>

        <div class="form-group remember-check-wrapper">
          <input type="checkbox" id="rememberCheckbox" checked="checked" name="remember">
          <label for="rememberCheckbox">
            Remember me
          </label>
        </div>
        <div class="form-actions">
          <button type="submit" class="submit-form-btn">Login</button>
          <button type="button" class="cancel-form-btn close-btn">Cancel</button>
        </div>
      </form>
    </div>

    <!-- TODO: what is this ?  -->
    <div class="imageregister">
      <img src="Wuzzuf.png" alt="" style="margin-top: 5%">
    </div>

  </main>
  <script>
    const cancelFormBtns = document.getElementsByClassName('close-btn');
    console.log(cancelFormBtns);
    [...cancelFormBtns].forEach((cancelFormBtn) => {
      cancelFormBtn.onclick = hideForms
    })
    const navigationBtns = document.getElementsByClassName('navigation-btn');
    [...navigationBtns].forEach((navigationBtn) => {
      navigationBtn.onclick = function () {
        hideForms();
        showForm(this.dataset.formid)
      }
    })
    const mobileMenuBtn = document.getElementById('mobileMenuBtn');
    const headerNavEl = document.getElementById('headerNav');
    mobileMenuBtn.onclick = () => {
      mobileMenuBtn.classList.toggle('active')
      headerNavEl.classList.toggle('show')
    }
    headerNavEl.onclick = function (e) {
      if (e.target === headerNavEl) {
        mobileMenuBtn.click();
      }
      console.log(e)
    }
    function showForm(formId) {
      document.getElementById(formId).style.display = "block"
    }
    function hideForms() {
      [...document.forms].forEach((formEl) => {
        formEl.parentElement.style.display = "none";
      })
    }
  </script>

</body>

</html>